numpy==1.26.1
pandas==1.5.3
streamlit
streamlit_survey
pyodbc
streamlit-scrollable-textbox
st-gsheets-connection
mysql-connector-python
cloud-sql-python-connector
gcsfs
sqlalchemy==1.4.49
PyMySQL
st-files-connection
paramiko
sshtunnel
fabric==3.2.2
